version: '3.8'

services:
  db:
    image: postgres:15
    container_name: hunting_bot_db
    restart: always
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - pgdata_hunting_bot:/var/lib/postgresql/data

volumes:
  pgdata_hunting_bot:
